<a href="#/home"><fa-icon [icon]="faCaretLeft"></fa-icon> &nbsp; back to Catalogue</a>

<div *ngIf="data$ | async as data" class="mt-3">
  <div class="media">
    <img
      [src]="data.logo"
      alt="{{ data.repo.full_name }}"
      class="mr-3 logo-small logo"
      (error)="this.data.logo = 'https://avatars0.githubusercontent.com/u/20147732?v=4'"
    />
    <div class="media-body">
      <h2 class="mt-0 mb-0">{{ data.repo.name }}</h2>
      <p>
        by <a href="https://github.com/{{ data.repo.owner.login }}">{{ data.repo.owner.login }}</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <markdown>
        {{ data.readme | emojiFixup }}
      </markdown>
    </div>
    <div class="col-12 col-md-4">
      <div id="about">
        <a class="btn btn-lg btn-success" target="_blank" href="{{ data.repo.html_url }}/archive/{{ data.repo.default_branch }}.zip"
          >Download <i class="fa fa-download"></i
        ></a>

        <h3 class="mt-3">About this repo</h3>
        <ul class="list-unstyled">
          <li>
            <fa-icon [icon]="faGlobe"></fa-icon> Repo ID: <span class="float-right">{{ data.repo.id }}</span>
          </li>
          <li>
            <fa-icon [icon]="faUserCircle"></fa-icon> Author: <span class="float-right">{{ data.repo.owner.login }}</span>
          </li>
          <li>
            <fa-icon [icon]="faGithub"></fa-icon> Repo:
            <a class="float-right" target="_blank" href="{{ data.repo.html_url }}"
              >View on Github <fa-icon [icon]="faExternalLinkAlt"></fa-icon
            ></a>
          </li>
          <li>
            <fa-icon [icon]="faEye"></fa-icon> Watchers: <span class="float-right">{{ data.repo.subscribers_count }}</span>
          </li>
          <li>
            <fa-icon [icon]="faStar"></fa-icon> Stars: <span class="float-right">{{ data.repo.stargazers_count }}</span>
          </li>
          <li>
            <fa-icon [icon]="faCodeBranch"></fa-icon> Forks: <span class="float-right">{{ data.repo.forks_count }}</span>
          </li>
          <li>
            <fa-icon [icon]="faClock"></fa-icon> Created: <span class="float-right">{{ data.repo.created_at | amTimeAgo }}</span>
          </li>
          <li>
            <fa-icon [icon]="faClock"></fa-icon> Last update: <span class="float-right">{{ data.repo.updated_at | amTimeAgo }}</span>
          </li>
          <li *ngIf="data.repo?.license">
            <fa-icon [icon]="faBalanceScale"></fa-icon> License: <span class="float-right">{{ data.repo.license.spdx_id }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
