<div class="row">
  <div class="col-6">
    Search an item by name:

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="search">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Search an item in the catalogue"
        [(ngModel)]="search"
        (ngModelChange)="refresh()"
        aria-label="Search"
        aria-describedby="search"
      />
    </div>
  </div>

  <div class="col-6">
    <div class="col text-center">
      <img src="https://avatars.githubusercontent.com/u/25122687?s=200&v=4" height="50" />
      <p><fa-icon [icon]="faTelegram"></fa-icon> &nbsp; <a href="https://t.me/+QUbs3tgk4kqPyhEY">Join us on Telegram!</a></p>
    </div>
  </div>
</div>

<div class="row" *ngIf="catalogueService.tabIndex !== -1">
  <div class="col-12">
    <mat-tab-group (focusChange)="page = 0" [selectedIndex]="catalogueService.tabIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab *ngFor="let key of catalogueService.confTabsKeys" label="{{ key }}">
        <div *ngIf="catalogueService.items$[key] | async as items" class="mt-2">
          <div *ngFor="let item of currentPageItems(items)">
            <app-repo
              [id]="item.id"
              [name]="item.name"
              [stars]="item.stargazers_count"
              [created]="item.created_at"
              [description]="item.description"
              [fullName]="item.full_name"
            >
            </app-repo>
          </div>

          <mat-paginator
            [pageIndex]="page"
            [length]="items.items.length"
            [pageSize]="catalogueService.CONF.pageSize"
            (page)="onPageChange($event)"
            [hidePageSize]="true"
          >
          </mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
